{{#each []}}
<div class="event" data-eventid="{{eventid}}">
	<h4 class="eventname">{{name}}</h4>
	<div class="location">{{location}}</div>
	<div class="eventdate">{{date}}</div>
	<div class="eventinterrest">{{interest}}</div>
</div>
{{/each}}